{% extends 'base.html' %}
{% load static %}

{% block main %}

    <div class="section">
        <h1 class="center">
            Sometime
        </h1>
        <p class="light center">
            The best to-do app, to extract the better of you.
        </p> 
    </div>

    <div class="section"></div>
    <div class="section"></div>

    <div class="row col section">
        <div class="col row s4">
            <div class="center">
                <i class="medium material-icons">edit</i>
                <p class="light center">Edit your tasks</p>
            </div>
        </div>
        <div class="col row s4">
            <div class="center">
                <i class="medium material-icons">flash_on</i>
                <p class="light center">Improve your productivity</p>
            </div>
        </div>
        <div class="col row s4">
            <div class="center">
                <i class="medium material-icons">cloud</i>
                <p class="light center">All storage on cloud</p>
            </div>
        </div>
    </div>


    <br/><br/><br/><br/>
    <h4 class="center">Some tips for more effective to-do lists</h4>
    <br/><br/>

    <div class="row">
        <div class="col s12 m4">
            <div class="card-panel teal green z-depth-5">
                <p class="white-text" style="text-align: justify;">
                    Write your To Do list the night before. This helps you start your day with clarity. 
                    You know exactly which item you need to complete by 10am the next morning. <br/><br/>
                </p>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card-panel teal green z-depth-5">
                <p class="white-text" style="text-align: justify;">
                    Keep it simple. Your To Do list should have no more than three things on it for a given day.
                    Some of the most highly successful people allow ONE ITEM on their To Do list each day. 
                </p>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card-panel teal green z-depth-5">
                <p class="white-text" style="text-align: justify;">
                    Sometimes small is big. Be strategic about your energy. Occasionally, 
                    a small and menial task that isn’t highly strategic will start to take 
                    up an incredible amount of mind space. <br/>
                </p>
            </div>
        </div>
    </div>

{% endblock main %}